{% load static %} 
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang = 'en'>  

<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/ad67667019.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Home Page</title>
    <script>
        var milliseconds = 3000;

        setTimeout(function () {
            document.getElementById('alert').remove();
        }, milliseconds);
    </script>
</head>
 
<body>

    <section class="head-bar">
        <nav>
            <ul>
                <li class="nav1"><h1 class = "nav1"><a href = "{% url 'home' %}"><b>SocialWeb</b></a></h1></li>&nbsp;  
                {% if user.is_authenticated %}
                    <li class="nav2"><a href="{% url 'logout' %}">Logout</a></li> &nbsp; 
                    <li class="nav3"><a href="{% url 'profile_update' %}">Profile</a></li>
                {% else %}
                    <li class="nav2"><a href="{% url 'login' %}">Login</a></li> &nbsp; 
                    <li class="nav3"><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>

    {% if messages %}
        {% for message in messages %}
            <div id = "alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}

    {% endif %}
    {% block content %}{% endblock %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In</a>
        </small>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>
</html>
    
